phase1/tests/* linguist-vendored
phase2/testfiles/Errors/* linguist-vendored
phase2/testfiles/Working/* linguist-vendored
phase3/testfiles/Errors/* linguist-vendored
phase3/testfiles/Working/* linguist-vendored